@import url('https://fonts.googleapis.com/css?family=Orbitron');

html {
    height: 100%;
}

section {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background: rgb(2,0,36);
	background: linear-gradient(139deg, rgba(2,0,36,1) 0%, rgba(9,66,121,1) 35%, rgba(0,212,255,1) 100%);
}

#clock {
	font-family: 'Orbitron', sans-serif;
	color: #e8e817;
	font-size: 56px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
}